@import url("https://fonts.googleapis.com/css2?family=Lato&family=Bebas+Neue&family=Manrope&family=Montserrat&display=swap");
/*
color fondo del logo #FFF699
color taco #F94616
color perrón #E36D23
color amarillo #EFDD1C
*/

:root {
    --color-negro-full-doc: #181717;
    --color-blanco-body: #f4e8d0;
    --color-naraja-activo: #dc9a15;
    --color-naranja-hover: #ffb82b;
    --color-blanco-form: #f8f8f8;
    --color-azul-encabezado-form: #add2ca;
    --color-gris-label: #7c7c7c;
    --color-bg-nav: #2f4f4f;
    --color-azul-encabezado-productos: #478a90;
    --color-encabezado-direcciones: #00644e;
    --color-box-shadow: rgba(0, 0, 0, 0.377);
    --color-bg-header-card: #e0e0e0;
    --color-bg-body-card: #547794;
}

* {
    font-family: "Lato", sans-serif;
    color: var(--color-negro-full-doc);
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--color-blanco-body);
}

h1 {
    font-family: "Manrope", sans-serif;
}

/* -------------------------------- Estilos de la imagen -------------------------------- */
img {
    max-width: 100%;
    max-height: 100%;
}

.logo {
    width: 75px;
    height: 75px;
}

/* -------------------------------- Estilos del nav -------------------------------- */
.nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 70;
    width: 100%;
    margin: 0;
    padding: 10px 20px;
    background-color: var(--color-bg-nav);
}

.nav li,
.nav a {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Manrope", sans-serif;
    font-size: 19px;
    color: var(--color-blanco-form);
    transition: 0.5s ease;
}

.nav li.active {
    border-bottom: 2px solid var(--color-naraja-activo);
}

.menu li a {
    transition: 0.5s ease;
    margin: 0;
    padding: 0;
}

.menu li.active a,
.menu li:hover a {
    color: var(--color-naraja-activo);
}

/* -------------------------------- Estilos de los productos -------------------------------- */
.encabezado_productos {
    padding-top: 110px;
    padding-left: calc(100% / 2 - 200px);
    color: var(--color-azul-encabezado-productos);
    font-size: 60px;
}

.contenido {
    align-items: center;
    margin-top: -160px;
    font-size: 1.5em;
}

span {
    color: var(--color-naraja-activo);
}

.callout,
.callout > span {
    margin-top: 20px;
    color: darkcyan;
    font-size: 20px;
}

.fp-slidesNav {
    width: 100px;
}

/* -------------------------------- Estilos de las direcciones -------------------------------- */
.encabezado_direcciones {
    padding-top: 120px;
    padding-left: calc(100% / 2 - 200px);
    color: var(--color-encabezado-direcciones);
    font-size: 60px;
}

.card-layout {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.card {
    display: inline-block;
    margin: 100px;
    width: 200px;
    padding: 20px;
    box-shadow: 0px 10px 15px var(--color-box-shadow);
    border-radius: 20px;
}

.card-header {
    background: var(--color-bg-header-card);
    margin: -20px;
    padding: 20px;
    border-radius: 20px 20px 0px 0px;
}

.card-body {
    background: var(--color-bg-body-card);
    margin: -20px;
    padding: 20px;
    border-radius: 00px 00px 20px 20px;
}

/* -------------------------------- Estilos del formulario -------------------------------- */
.encabezado_formulario {
    padding-top: 110px;
    padding-left: calc(100% / 2 - 300px);
    color: var(--color-azul-encabezado-form);
    font-size: 60px;
}

.contenedor-formulario {
    margin: 15px auto;
    width: 500px;
    background-color: var(--color-blanco-form);
    padding: 10px;
    border-radius: 5px;
}

.contenedor-formulario label {
    color: var(--color-gris-label);
}

.contenedor-formulario input {
    margin-top: 5px;
    border: none;
    background: none;
    height: 30px;
    border: solid 1px var(--color-azul-encabezado-productos);
    padding: 0 8px;
}

.contenedor-formulario input:focus {
    border: solid 2px var(--color-naranja-hover);
    outline: none;
}

.input-text {
    position: relative;
    height: 45px;
    width: 90%;
    margin-bottom: 17px;
}

.contenedor-formulario input[type="text"],
.contenedor-formulario input[type="tel"] {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    z-index: 1;
}

::placeholder {
    color: transparent;
}

.input-text label {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 0 4px;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
    background-color: var(--color-blanco-form);
}

.contenedor-formulario input[type="text"]:focus + label,
.contenedor-formulario input[type="tel"]:focus + label {
    top: -4px;
    left: 7px;
    z-index: 10;
    font-size: 14px;
    font-weight: 1000;
    color: var(--color-naranja-hover);
}

/* To avoid a collision between label and text entered */
.contenedor-formulario input[type="text"]:not(:placeholder-shown) + label,
.contenedor-formulario input[type="tel"]:not(:placeholder-shown) + label {
    top: -4px;
    left: 7px;
    z-index: 10;
    font-size: 14px;
    font-weight: 1000;
}

.contenedor-formulario button {
    align-items: center;
    font-size: 1.1em;
    border: none;
    margin-top: 15px;
    width: 100%;
    height: 30px;
    background-color: var(--color-naraja-activo);
    color: var(--color-bg-header-card);
    padding: 5px;
}

.contenedor-formulario button:hover,
.contenedor-formulario button:active {
    background-color: var(--color-naranja-hover);
    cursor: pointer;
}

.contenedor-select label {
    font-size: 16px;
}

.contenedor-select select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: solid 1px var(--color-azul-encabezado-productos);
    font-size: 1.1em;
    padding: 5px;
    margin-left: 15px;
    border-radius: 8px;
    height: 45px;
    width: 81%;
    text-align: center;
}

.contenedor-select i {
    position: relative;
    left: -35px;
    top: calc(50% - 13px);
    font-size: 1.3em;
    color: var(--color-azul-encabezado-productos);
}

.contenedor-select select:hover,
.contenedor-select select:focus {
    outline: none;
}

.contenedor-select select:hover {
    border: solid 2px var(--color-naranja-hover);
}

/* Modifica al elemento hermano del select  (Flecha)*/
.contenedor-select select:hover + i {
    color: var(--color-naranja-hover);
}

.contenedor-checkbox {
    margin-bottom: 5px;
    height: 45px;
    padding: 5px;
    display: grid;
    grid-template-columns: 25px 120px 25px 55px repeat(2, 25px) 55px 25px 80px;
    grid-row: 45px;
    gap: 0 0.3em;
    align-items: center;
}

.contenedor-checkbox label {
    position: relative;
    top: 0.15em;
    margin: 0 5px;
}

.contenedor-checkbox input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    outline: none;
    border: solid 1px var(--color-azul-encabezado-productos);
    border-radius: 3px;
    height: 20px;
    width: 20px;
    margin-top: 0;
    padding: 0;
    transition: all 0.3s ease-in-out;
}

.contenedor-checkbox input[type="checkbox"]:hover {
    border: solid 2px var(--color-naranja-hover);
}

.contenedor-checkbox input[type="checkbox"]:checked,
.contenedor-checkbox input[type="radio"]:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    background-color: var(--color-naraja-activo);
    border: solid 1px var(--color-naraja-activo);
    transition: all 0.5s ease-in-out;
}

.contenedor-checkbox input[type="checkbox"]:checked + label,
.contenedor-checkbox input[type="radio"]:checked + label {
    font-weight: 1000;
}

button.number-button {
    position: relative;
    height: 20px;
    width: 20px;
    padding: 0 2px;
    margin: 0;
    text-align: center;
    background-color: var(--color-azul-encabezado-productos);
    border: solid 1px var(--color-azul-encabezado-productos);
    border-radius: 5px;
}

button.number-button:hover {
    border: none;
    background-color: var(--color-naranja-hover);
    color: var(--color-negro-full-doc);
}

input[type="number"] {
    appearance: textfield;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    position: relative;
    border-radius: 5px;
    height: 35px;
    width: 50px;
    padding: 0;
    margin: 0;
    text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
}

button.inc {
    margin-right: 5px;
}

.contenedor-checkbox input[type="radio"] {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0;
    margin: 0;
    height: 20px;
    width: 20px;
    color: var(--color-azul-encabezado-productos);
    border: 1px solid var(--color-azul-encabezado-productos);
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

/* -------------------------------- Estilos del footer -------------------------------- */
footer {
    font-family: "Montserrat", sans-serif;
    background: rgba(255, 246, 153, 0.9);
    width: 100%;
    position: absolute;
    padding: 5px;
    display: flex;
    justify-content: center;
}

footer p {
    font-size: 10px;
    font-family: "Bebas Neue", sans-serif;
}

/* @keyframes bajar-subir {
    0% {
        transform: translateY(20px);
    }
    25% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(20px);
    }
} */
